@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
  }
}

/* Kaydırma Çubuğu (Scrollbar) Tasarımı */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full hover:bg-slate-500 dark:bg-slate-600;
}